<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Добавить привычку</title>
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">
    <link href="/static/css/edit_habit.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500&family=Material+Icons+Round&display=swap" rel="stylesheet">
</head>

<body>
  <div id="sidebar-wrap">
    <div class="sidebar-mobile-background" onClick="toggleNav()"></div>
    <div class="sidebar-mobile">
      <div class="sidebar-ham" onClick="toggleNav()">
        <div class="ham-1"></div>
        <div class="ham-2"></div>
      </div>
      <p class="mobile-app-name">Привычки</p>
    </div>
    <div class="sidebar">
      <div class="sidebar-inner-wrap">
        <a class="sidebar-item" href="/">
          <i class="material-icons-round">dashboard</i>
          <p>Панель инструментов</p>
        </a>
        {% for habit in habits %}
          <a class="sidebar-item" href="{{'/habit/' ~ habit.id}}">
            <i class="material-icons-round">short_text</i>
            <p>{{habit.title}}</p>
          </a>
        {% endfor %}
        <a class="sidebar-item add-habit active" href="/add_habit">
          <i class="material-icons-round">add</i>
          <p>Добавить привычку</p>
        </a>
      </div>
    </div>
  </div>
  <div class="main-content">
    <form action="" method="POST">
    <div class="header-wrap">
      <h1>
        <input type="text" autocomplete="off" name="title" placeholder="Название"/>
      </h1>
      <input type="submit" class="button" value="Готово"/>
    </div>
    <hr />
    <div class="content">
      <h3>Детали</h3>
      <hr />
      <div class="habit-row">
        <i class="material-icons-round">notes</i>
        <input type="text" name="description" autocomplete="off" placeholder="Описание">
      </div>
      <div class="habit-row">
        <i class="material-icons-round">update</i>
        <input type="radio" name="frequency" value="daily" checked/>
        <label>Ежедневно</label>
        <input type="radio" name="frequency" value="weekly" />
        <label>Еженедельно</label>
        <input type="radio" name="frequency" value="monthly" />
        <label>Ежемесячно</label>
        </select>
      </div>
    </div>
    <div class="content" id="milestone-wrap">
      <h3>Этапы</h3>
      <hr />
      <div class="milestone-wrap new hidden">
        <div class="milestone-name habit-row">
          <i class="material-icons-round">flag</i>
          <input class="new-milestone-text" type="text" autocomplete="off" placeholder="Новый этап"/>
        </div>
        <div class="milestone-inner-wrap">
          <div class="habit-row">
            <i class="material-icons-round">event_note</i>
            <label>Срок:</label>
            <input class="new-milestone-deadline" type="date"/>
          </div>
          <div class="habit-row">
          </div>
        </div>
      </div>
      <div class="add-milestone">
        <p class="button" onClick="addMilestone()">Добавить этап</p>
      </div>
    </div>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {{ messages[0] }}
    {% endif %}
    {% endwith %}
    </p>
  </div>
</body>
<script>
  let navOn = false,
    newMilestoneCounter = 0
  function toggleNav() {
    navOn = !navOn;
    if (navOn) {
      document.getElementById('sidebar-wrap').classList.add('on');
    } else {
      document.getElementById('sidebar-wrap').classList.remove('on');
    }
  }
  function addMilestone() {
    let milestoneWrap = document.querySelector('.milestone-wrap.new.hidden'),
      clone = milestoneWrap.cloneNode(true),
      text = clone.querySelector('.new-milestone-text'),
      deadline = clone.querySelector('.new-milestone-deadline')
    text.name = 'new_milestone_text_' + newMilestoneCounter
    deadline.name = 'new_milestone_deadline_' + newMilestoneCounter
    clone.classList.remove('hidden')
    milestoneWrap.parentNode.insertBefore(clone, milestoneWrap.parentNode.lastElementChild)
    newMilestoneCounter += 1
  }
</script>
</html>
