<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Вход</title>
    <link href="../static/css/signup.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="loginbox">
        <img src="{{ url_for('static', filename='media/logo.png') }}?v=2" class="logo">
        <h1> Вход </h1>
        <form method="POST" action="{{ url_for('login') }}">
            <input type="username" name="username" placeholder=" Имя пользователя" autofocus="">
            <input type="password" name="password" placeholder=" Пароль">
            <label class="checkbox">
                <input type="checkbox" name="remember">
                Запомнить меня
            </label>
            <button type='submit'>Войти</button>
        </form>
        <p>
            Нет аккаунта?
        </p>
        <p><a href="{{ url_for('signup') }}">Зарегистрируйтесь сейчас!</a></p>
        <p>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{ messages[0] }}
            {% endif %}
            {% endwith %}
        </p>
    </div>
</body>
</html>
