<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
    <link href="{{ url_for('static', filename='css/signup.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="loginbox">
        <img src="../static/media/logo.png" class="logo">
        <h1> Регистрация </h1>
        <form method="POST" action="/signup">
            <input type="username" name="username" placeholder=" Имя пользователя" autofocus="">
            <input type="password" name="password" placeholder=" Пароль">
            <button type='submit'>Зарегистрироваться</button>
        </form>
        <p>
            Уже есть аккаунт?
        </p>
        <p><a href="{{ url_for('login') }}">Войти</a></p>
        <p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {{ messages[0] }}
            {% endif %}
        {% endwith %}
        </p>
    </div>
</body>
</html>
