body{
	margin: 0;
	padding: 0;
	background: url(../media/bbg2.png);
	background-size:cover;
	background-position: relative;
	font-family: roboto;
}

.loginbox{
	width:320px;
	height:420px;
	background: #FFF;
	color:#FFF;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding:70px 30px;
	border-radius: 10px;
	

}

.logo {
	width:140px;
	height: 140px;
	border-radius: 50%;
	position:absolute;
	top:-15%;
	left:calc(34% - 15px);
}

.loginbox h1{
	margin: 0;
	margin-top:15px;
	margin-bottom: 5px;
	padding: 0 0 20px;
	font-style: normal;
	font-weight:600;
	text-align:center;
	font-size:18px;
	font-family: Roboto;
	color: #161B2E ;
}
.loginbox input{
	width:200px;
	height:35px;
	margin-bottom:20px;
	margin-left: 30px;
	background: #FFFFFF;
	


}

.loginbox input[type="username"], input[type="password"]{
	width:180px
	border-bottom: 1px;
	border-left: 2px;
	background: #FFF;
	border: 1px solid rgba(0, 0, 0, 0.45);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 35px;



}

.loginbox button[type='submit'] {
	border: none;
	outline: none;
	width: 100%;
	max-width: 220px;
	height: 45px;
	background: #161B2E;
	border: 1px solid rgba(0, 0, 0, 0.45);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	margin: 10px auto;
	display: block;
}

.loginbox button[type="submit"]:hover
{
	cursor:pointer;
	background: #8D8D8D;
	border: #FFF;
}

.loginbox a{
	text-decoration: none;
	font-family: Roboto;
	font-size:15 px;
	color:#161B2E;


}
.loginbox p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 10px;
	color: rgba(0, 0, 0, 0.4);
	text-align:center;

}
.loginbox a:hover
{
	color:#8D8D8D;
}
.loginbox input[type="checkbox"]{
	width: 12px;
	height: 12px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	color: rgba(0, 0, 0, 0.4);

}
.loginbox label{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #161B2E;
}

